Timer: 
9:50am :10am

10am - 10:30am

10:30am - 11am

11:30am - 12pm

12pm - 12:30pm

12:30pm - 1pm

1pm - 1:30pm

1:30pm - 2pm

2pm - 2:30pm

2:30pm - 4pm  : Assemble presentation.

---

Our problems: 

Predict if a user is going to churn or not

Find out which factors are the best for predictors for churn and explain why.

Offer the solution to reduce the churn rate for this company.



Flow 
    
    Gathering Data
        Done
        
    Prepare Data
        Samuel & Smash
            Drop columns, Add Columns

    Choose an Algorithm
        

    Fit a Model
        

    Choose a Validation Method
        

    Examine Fit and Update Until Satisfied
        

    Use Fitted Model for Predictions

## Load Data

In [1]:
import os
import numpy as np
import pandas as pd


def load_data(csv_file_name):
    '''
    Loads entries of a csv file into a dataframe.

    Parameters
    ----------
    csv_file_name : string
        The name of the csv file you want to load in.

    Returns
    -------
    dataframe_
        A dataframe made from the values in the csv file.
    '''

    file_name = os.path.join('.', 'data', ''.join([csv_file_name, '.csv']))
    dataframe_ = pd.read_csv(file_name)

    return dataframe_

In [2]:
churn_test = load_data('churn_test')
churn_train = load_data('churn_train')
churn = load_data('churn')

In [17]:
churn_test.sample(5)

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
4394,1.00,5.0,5.0,1.00,Astapor,2014-02-08,iPhone,2014-01-11,0.0,2,True,100.0
3168,12.02,4.8,4.4,1.02,King's Landing,2014-06-14,iPhone,2014-01-01,7.7,2,True,69.2
2949,2.35,5.0,5.0,1.04,Astapor,2014-05-04,Android,2014-01-25,16.7,1,True,16.7
9166,5.24,5.0,5.0,1.00,Astapor,2014-02-23,iPhone,2014-01-29,0.0,3,False,0.0
5900,1.43,5.0,5.0,1.00,Astapor,2014-05-01,Android,2014-01-01,0.0,0,True,100.0

In [10]:
churn_train.head(5)

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,Android,2014-01-12,0.0,0,False,100.0
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,Android,2014-01-25,0.0,2,True,0.0
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,iPhone,2014-01-02,0.0,1,True,100.0
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,Android,2014-01-09,100.0,1,False,100.0
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,iPhone,2014-01-31,0.0,0,False,100.0

In [11]:
churn.head(5)

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4

In [21]:
import time
import datetime

t_start = churn['last_trip_date'][0]

# time.sleep(10)

t_end = datetime.datetime.now()
elapsedTime = (t_end - t_start )

print(elapsedTime.total_seconds())

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'str'

In [22]:
t_start = churn['last_trip_date'][0]
print(t_start)

2014-06-17

In [20]:
churn_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   avg_dist                40000 non-null  float64
 1   avg_rating_by_driver    39838 non-null  float64
 2   avg_rating_of_driver    33472 non-null  float64
 3   avg_surge               40000 non-null  float64
 4   city                    40000 non-null  object
 5   last_trip_date          40000 non-null  object
 6   phone                   39681 non-null  object
 7   signup_date             40000 non-null  object
 8   surge_pct               40000 non-null  float64
 9   trips_in_first_30_days  40000 non-null  int64
 10  luxury_car_user         40000 non-null  bool
 11  weekday_pct             40000 non-null  float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 3.4+ MB

In [12]:
# churn.describe()

In [18]:
churn['city'].value_counts()

Winterfell        23336
Astapor           16534
King's Landing    10130
Name: city, dtype: int64

## Visualizations

In [ ]:
def plot_roc_curve(self, X_test, y_test):

    # Plot ROC curve for each classifier
    plt.figure(figsize=(10, 10))
    for pipeline in self.pipelines:
        y_pred = pipeline.predict(X_test)
        y_proba = pipeline.predict_proba(X_test)[:, 1]
        plot_roc_curve(pipeline, y_pred, y_proba, y_test)

    # 45 degree line
    x = np.linspace(0, 1.0, 20)
    plt.plot(x, x, color='grey', ls='--')

    # Plot labels
    plt.xlabel('False Positive Rate (1 - Specificity)')
    plt.ylabel('True Positive Rate (Sensitivity, Recall)')
    plt.title('ROC Plots')
    plt.legend(loc='lower right')
    plt.show()